* {
	padding: 30;
	padding-left: 3px;
	margin: 10;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}


#left-side {
	background-color: #122449;
	width: 30%;
	height: 2000px;
	float:left;
	color: #E1E5F3;
}

#right-side {
	background-color: #122449;
	width:70%;
	height: 2000px;
	float:left;
	color: #BAC1DA;
	text-align: justify;
}

#left-side > p {
	color: #BAC1DA;
	margin-right: 5px;
}

#about-section  {
	margin-right: 5px;
	margin-left: 7px;
}

.left-section {
	list-style-type: none;
	margin-bottom: 10px;
	margin-right: 7px;
	color: #E1E5F3;
	font-size: 18px;
	text-decoration: none;
}



#skills-section {
	list-style-type: "#";
	margin-left: 5px;
}

#photo {
		border: solid 1px;
		border-radius: 50%;
		width: 8em;
		height: 8em;
		margin: 10px 0px 0px 10px;
	}


/* Changes color of the icon while pointing to it: */
i:hover {
	color: #00FFFF;
	transition: 0.4s;
	cursor: pointer;
}

/* Adds a github link to the icon: */
#contact-section > a:link, i {
	color: grey;
}


/* Adds space between icons */
#contact-section > a i { 
	padding-left: 5px; 
	padding-right: 5px; 
}

/*Changes color of the icon while pointing to it on the right side: */
.right-sections > h2 {
	border-bottom: 0.5px solid gray;
	position: sticky;
	top: 0px;	
	margin-right: 10px;
	color: white;
}

.right-sections > h2:hover{
	color: #00FFFF;
	transition: 0.4s;
	cursor: pointer;
}


#left-side > h3 {
	top: 0px;	
	margin-right: 10px;
	color: white;
}

#left-side > h3:hover{
	color: #00FFFF;
	transition: 0.4s;
	cursor: pointer;
}

#footer-div {
	background-color: gray;
	width: 100%;
	color: white;
}

#photo2 {
	width: 50%;
	length: 50%;
}


/*Making elements in nav bigger while hoovering */
nav > ul li {
	width: 70px;
	height: 30px;
}


nav > ul li:hover {
	transform: scale(1.2);
	transition: all 250ms ease-in-out;
}			


/* Underline nav section when hovering:*/

nav > ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav > ul li::after {
	content: "";
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
  height: 1.5px;
	width: 0px;
	background-color: white;
}

nav > ul li:hover::after {
	width: 100%;
	transition: all 250ms;
	
}



/*Gradient underline while hover on nav elements*/
/*
nav > ul {
	margin: 10px auto 0;
	list-style: none;
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	padding: 0;     
	max-width: 600px;
}

@media screen and (min-width: 600px) {
		nav > ul li {
				flex-direction: column;
		}
}

nav > li {
	position: relative;
	padding: 3px;
}

nav > ul li {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .25em;
	display: inline-block;
	padding: 5px;
	position: relative;
}

nav > ul li:hover::after {
	width: 100%;
	right: 0;
}

nav > ul li::after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	right: 0;
	position: absolute;
	background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
	transition: width .5s ease 0s, right .5s ease 0s;
	width: 0;
}

*/

/*highlight nav section when hovering */
/*
nav > ul li::before {
	content: "";
	position: absolute;
	left: 7%;
	bottom: 16px;
	width: 150px;
	height: 14px;
	transform: skew(-12deg) translateX(-50%);
	background: rgba(238,111,87,0.5);
	z-index: -1;
}

a:hover {
	color: #AEC6CF;
	transition: 0.4s;
	cursor: pointer;
}
*/
